@model Reserva.Core.Models.Configuracion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Configuracion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecMinReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecMinReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecMaxReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecMaxReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempMinReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempMinReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempMaxReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempMaxReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMinPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMinPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMaxPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMaxPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConfigId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
