@model IEnumerable<Reserva.Core.Models.Configuracion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EspId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecMinReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecMaxReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempMinReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempMaxReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMinPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMaxPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EspId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecMinReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecMaxReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempMinReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempMaxReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumMinPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumMaxPersona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConfigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
