@model Reserva.Core.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Est)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Est.EstNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
