@model IEnumerable<Reserva.Core.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResFechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResNumPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResFechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResNumPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esp.EspNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu.UsuNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
